 * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            display: flex;
            height: 100vh;
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            background-image: url('../styles/background/background_.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        nav {
            width: 270px;
            background-color: rgba(64, 57, 53, 0.5);
            color: white;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            border-radius: 0px 20px 20px 0px;
            box-shadow: 4px 0 10px rgba(0,0,0,0.1);
            overflow-y: auto;
            backdrop-filter: blur(3px); /* Blur intensity of glass */
            -webkit-backdrop-filter: blur(3px);
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-shadow: 
                0 8px 32px rgba(50, 50, 50, 0.25), /* Outer shadow around the frame */
                inset 0 0.5px 0 rgba(255, 255, 255, 1), /* Glass edge top */
                inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
                inset 0 0 5px 2.5px rgba(255, 255, 255, 0.25); /* Inner shadows */
            transition: all 0.5s ease;
        }

        nav:hover {
            background: rgba(54, 49, 46, 0.6);
            backdrop-filter: blur(5px); /* Blur intensity of glass */
            -webkit-backdrop-filter: blur(5px);
        }

        nav h1 {
            font-size: 26px;
            text-align: center;
            color: #fb6f04;
            margin-bottom: 30px;
            letter-spacing: 1px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            padding: 12px 15px;
            margin-bottom: 8px;
            cursor: pointer;
            border-radius: 6px;
            transition: all 0.5s ease;
        }

        nav ul li:hover {
            font-size: 17px;
            background: rgba(87, 78, 73, 0.5);       
        }

        nav a {
            color: #ecf0f1;
            text-decoration: none;
            display: block;
            font-size: 14px;
            font-weight: 500;
            transition: all 0.5s ease;
        }

        nav a:hover{
            font-size: 15px;
        }

        nav hr {
            border: 0;
            height: 1px;
            background: rgb(255, 255, 255);
            margin: 15px 0;
        }

        .submenu {
            display: none;
            padding-left: 15px;
            margin-top: 8px;
        }

        nav ul li:hover .submenu {
            display: block;
        }

        .submenu li {
            padding: 8px 10px;
            margin-bottom: 4px;
            border-radius: 4px;
        }

        .submenu li:hover {
            background: #47403c;
        }

        .submenu li:hover a {
            color: white;
        }

        iframe {
            flex-grow: 1;
            border: none;
            background-color: #00000000;
        }