body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.filter-form {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(25, 25, 25, 0.15); /* Color of glass */
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.02);
    backdrop-filter: blur(3px); /* Blur intensity of glass */
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 
        0 8px 32px rgba(50, 50, 50, 0.25), /* Outer shadow around the frame */
        inset 0 1px 0 rgba(255, 255, 255, 1), /* Glass edge top */
        inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
        inset 0 0 5px 2.5px rgba(255, 255, 255, 0.2); /* Inner shadows */
    transition: all 0.75s ease; 
}

.filter-form:hover {
    background-color: rgba(50, 50, 50, 0.5); /* Transition to clearer glass */
    backdrop-filter: blur(5px); /* Blur intensity of glass */
    -webkit-backdrop-filter: blur(5px);
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 15px;
    color: #ffffff;
}

.filter-input {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: rgba(0, 0, 0, 0); /* Color of glass */
    backdrop-filter: blur(20px); /* Blur intensity of glass */
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1), /* Outer shadow around the frame */
        inset 0 0.5px 0 rgba(255, 255, 255, 1), /* Glass edge top */
        inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
        inset 0 0 20px 10px rgba(255, 255, 255, 0); /* Inner shadows */
}

.filter-input:focus {
    border-color: rgba(255, 255, 255, 1) !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(251, 111, 4, 0.2);
}

.filter-btn {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
        margin-right: 5px;
        margin-bottom: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0); /* Color of glass */
        backdrop-filter: blur(3px); /* Blur intensity of glass */
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.1), /* Outer shadow around the frame */
            inset 0 1px 0 rgba(255, 255, 255, 1), /* Glass edge top */
            inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
            inset 0 0 20px 10px rgba(255, 255, 255, 0); /* Inner shadows */
    transition: 0.5s ease;

}

.filter-btn:hover {
    background: #5a504a;
    color: #ffffff;
    border-color: #fb6f04;
    box-shadow: 0 4px 10px rgba(251, 111, 4, 0.2);
}

a{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0); /* Color of glass */
        backdrop-filter: blur(3px); /* Blur intensity of glass */
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.1), /* Outer shadow around the frame */
            inset 0 1px 0 rgba(255, 255, 255, 1), /* Glass edge top */
            inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
            inset 0 0 20px 10px rgba(255, 255, 255, 0); /* Inner shadows */
    transition: 0.5s ease;
}

a:hover{
    background: #5a504a;
    color: #ffffff;
    border-color: #fb6f04;
    box-shadow: 0 4px 10px rgba(251, 111, 4, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.25); /* Color of glass */
    backdrop-filter: blur(3px); /* Blur intensity of glass */
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 
        0 8px 32px rgba(50, 50, 50, 0.25), /* Outer shadow around the frame */
        inset 0 1px 0 rgba(255, 255, 255, 1), /* Glass edge top */
        inset 0 -1px 0 rgba(255, 255, 255, 0.5), /* Glass edge bottom */
        inset 0 0 5px 2.5px rgba(150, 150, 150, 0.1); /* Inner shadows */
    transition: all 0.5s ease;

}

/* Table glass lines for design */
table::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

table::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


th,
td {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background: #403935;
    color: white;
    padding: 14px 18px;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    backdrop-filter: blur(5px); /* Blur intensity of glass */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.25); /* Color of glass */
    transition: all 0.5s ease;

}

th:hover {
    background-color: rgba(251, 111, 4, 0.25);
}

.edit-btn {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.delete-btn {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.edit-btn:hover {
    background: #0056b3;
}

.delete-btn:hover {
    background: #b52b3a;
}